body {
  color: white;
  font-size: 13px;
  font-family: Arial;

}

a {
  color: white;
}

#drop_container {
  color: white;
  width: 250px;
  height: 300px;
  border: 1px solid white;
}

.hoverDroppable {
  border: 2px solid yellow;
}
